[submodule "minimal-tkinter"]
	path = minimal-tkinter
	url = https://github.com/tywil04/minimal-tkinter
[submodule "minila-tkinter"]
	path = minila-tkinter
	url = https://github.com/tywil04/minimal-tkinter
